extends layout

block content
    link(rel="stylesheet", href="/stylesheets/dataTables.min.css")
    .row
        h5.green-text.left.tituloTop= title
    section(class="container")
        .row.comprar
            ul.collapsible
                li
                    .collapsible-header
                        i.material-icons filter_drama
                        | Alimento Não Perecíveis
                    .collapsible-body
                        //- .col.s12
                        //-     .input-field.col.s12
                        //-         i.material-icons.prefix search
                        //-         input#searchProduto.autocomplete(type='text')
                        //-         label(for='searchProduto') Pesquisar Produto

                        table.highlight.tableProduto.minhaTabela(class="display" style="width:100%")
                            thead
                                tr
                                th Foto
                                th Produto
                                th Preço
                                th.add ADD
                            tbody
                                tr
                                    td 
                                        img.responsive-img(src='/images/produtos/nao_pereciveis/arroz.jpg' width="100")
                                    td 
                                        a.link.modal-trigger(href="#modal1") Arroz Ilustre
                                    td.green-text 
                                        p.green-text R$ 11.49
                                        p.red-text R$ 14.79
                                    td.add 
                                        button.btnADDComprar.qntdBM.red.white-text -
                                        button.btnADDComprar.qntdB.green.white-text +
                                        p.qntdP.center 0
                                        input.menorPreco(value="11.49" type="hidden")
                                        input.maiorPreco(value="14.79" type="hidden")
                                        input.idProduto(value="idProduto" type="hidden")
                                        input.addValue(type="hidden")
                                    //- MODAL
                                    .modal#modal1.modalCss
                                        .modal-content
                                            .center
                                                h5 Arroz Ilustre
                                                img.responsive-img(src='/images/produtos/nao_pereciveis/arroz.jpg' width="100")
                                            p.grey-text Tradicional Tipo 1
                                            p.grey-text 5kg
                                            br
                                            a.exibirInfo(href="#!") Exibir Informações Nutritivas
                                            .nutricao.oculta
                                                p Aqui vai Informações Nutritivas do produto
                                        .modal-footer
                                            a(href="#!" class="modal-close waves-effect waves-green btn-flat ocultaFecha") Fechar 
                                    //- FIM MODAL 
                                tr
                                    td 
                                        img.responsive-img(src='/images/produtos/nao_pereciveis/macarrao.png' width="100")
                                    td 
                                        a.link.modal-trigger(href="#modal2") Macarrão c/ ovos Ilustre
                                    td.green-text 
                                        p.green-text R$ 2.09
                                        p.red-text R$ 2.60
                                    td.add 
                                        button.btnADDComprar.qntdBM.red.white-text -
                                        button.btnADDComprar.qntdB.green.white-text +
                                        p.qntdP.center 0
                                        input.menorPreco(value="2.09" type="hidden")
                                        input.maiorPreco(value="2.60" type="hidden")
                                        input.idProduto(value="idProduto" type="hidden")
                                        input.addValue(type="hidden")
                                    //- MODAL
                                    .modal#modal2.modalCss
                                        .modal-content
                                            .center
                                                h5 Macarrão c/ ovos Ilustre
                                                img.responsive-img(src='/images/produtos/nao_pereciveis/macarrao.png' width="100")
                                            p.grey-text Penne, Parafuso, Padre
                                            p.grey-text Nosso e Espaguete
                                            p.grey-text 500g
                                            br
                                            a.exibirInfo(href="#!") Exibir Informações Nutritivas
                                            .nutricao.oculta
                                                p Aqui vai Informações Nutritivas do produto
                                        .modal-footer
                                            a(href="#!" class="modal-close waves-effect waves-green btn-flat ocultaFecha") Fechar 
                                    //- FIM MODAL
                                tr
                                    td 
                                        img.responsive-img(src='/images/produtos/nao_pereciveis/feijao.jpg' width="100")
                                    td 
                                        a.link.modal-trigger(href="#modal3") Feijão DuDé
                                    td.green-text 
                                        p.green-text R$ 4.69
                                        p.red-text R$ 4.99
                                    td.add 
                                        button.btnADDComprar.qntdBM.red.white-text -
                                        button.btnADDComprar.qntdB.green.white-text +
                                        p.qntdP.center 0
                                        input.menorPreco(value="4.69" type="hidden")
                                        input.maiorPreco(value="4.99" type="hidden")
                                        input.idProduto(value="idProduto" type="hidden")
                                        input.addValue(type="hidden")
                                    //- MODAL
                                    .modal#modal3.modalCss
                                        .modal-content
                                            .center
                                                h5 Feijão DuDé
                                                img.responsive-img(src='/images/produtos/nao_pereciveis/feijao.jpg' width="100")
                                            p.grey-text Carioca
                                            p.grey-text 1kg
                                            br
                                            a.exibirInfo(href="#!") Exibir Informações Nutritivas
                                            .nutricao.oculta
                                                p Aqui vai Informações Nutritivas do produto
                                        .modal-footer
                                            a(href="#!" class="modal-close waves-effect waves-green btn-flat ocultaFecha") Fechar 
                                    //- FIM MODAL                                

                li
                    .collapsible-header
                        i.material-icons place
                        | Mercearia
                    .collapsible-body
                        table.highlight.tableProduto.minhaTabela(class="display" style="width:100%")
                            thead
                                tr
                                th Foto
                                th Produto
                                th Preço
                                th.add ADD
                            tbody
                                tr
                                    td 
                                        img.responsive-img(src='/images/produtos/mercearia/bis.jpg' width="100")
                                    td 
                                        a.link.modal-trigger(href="#modal4") Chocolate Bis | Lacta Black
                                    td.green-text 
                                        p.green-text R$ 3.58
                                        p.red-text R$ 4.05
                                    td.add 
                                        button.btnADDComprar.qntdBM.red.white-text -
                                        button.btnADDComprar.qntdB.green.white-text +
                                        p.qntdP.center 0
                                        input.menorPreco(value="3.58" type="hidden")
                                        input.maiorPreco(value="4.05" type="hidden")
                                        input.idProduto(value="idProduto" type="hidden")
                                        input.addValue(type="hidden")
                                    //- MODAL
                                    .modal#modal4.modalCss
                                        .modal-content
                                            .center
                                                h5 Chocolate Bis 
                                                h5 Lacta Black
                                                img.responsive-img(src='/images/produtos/mercearia/bis.jpg' width="100")
                                            p.grey-text 100.8g
                                            br
                                            a.exibirInfo(href="#!") Exibir Informações Nutritivas
                                            .nutricao.oculta
                                                p Aqui vai Informações Nutritivas do produto
                                        .modal-footer
                                            a(href="#!" class="modal-close waves-effect waves-green btn-flat ocultaFecha") Fechar 
                                    //- FIM MODAL
                                tr
                                    td 
                                        img.responsive-img(src='/images/produtos/mercearia/trink.jpg' width="100")
                                    td 
                                        a.link.modal-trigger(href="#modal5") Refresco em pó Trink
                                    td.green-text 
                                        p.green-text R$ 0.78
                                        p.red-text R$ 0.90
                                    td.add 
                                        button.btnADDComprar.qntdBM.red.white-text -
                                        button.btnADDComprar.qntdB.green.white-text +
                                        p.qntdP.center 0
                                        input.menorPreco(value="0.78" type="hidden")
                                        input.maiorPreco(value="0.90" type="hidden")
                                        input.idProduto(value="idProduto" type="hidden")
                                        input.addValue(type="hidden")
                                    //- MODAL
                                    .modal#modal5.modalCss
                                        .modal-content
                                            .center
                                                h5 Refresco em pó Trink
                                                img.responsive-img(src='/images/produtos/mercearia/trink.jpg' width="100")
                                            p.grey-text Sabores - 25g
                                            br
                                            a.exibirInfo(href="#!") Exibir Informações Nutritivas
                                            .nutricao.oculta
                                                p Aqui vai Informações Nutritivas do produto
                                        .modal-footer
                                            a(href="#!" class="modal-close waves-effect waves-green btn-flat ocultaFecha") Fechar 
                                    //- FIM MODAL
                                tr
                                    td 
                                        img.responsive-img(src='/images/produtos/mercearia/tortuguita.jpg' width="100")
                                    td 
                                        a.link.modal-trigger(href="#modal6") Biscoito Recheado Tortuguita
                                    td.green-text 
                                        p.green-text R$ 1.45
                                        p.red-text R$ 1.67
                                    td.add 
                                        button.btnADDComprar.qntdBM.red.white-text -
                                        button.btnADDComprar.qntdB.green.white-text +
                                        p.qntdP.center 0
                                        input.menorPreco(value="1.45" type="hidden")
                                        input.maiorPreco(value="1.67" type="hidden")
                                        input.idProduto(value="idProduto" type="hidden")
                                        input.addValue(type="hidden")
                                    //- MODAL
                                    .modal#modal6.modalCss
                                        .modal-content
                                            .center
                                                h5 Biscoito Recheado Tortuguita
                                                img.responsive-img(src='/images/produtos/mercearia/tortuguita.jpg' width="100")
                                            p.grey-text Chocolate, Brigadeiro e Morango
                                            p.grey-text 130g
                                            br
                                            a.exibirInfo(href="#!") Exibir Informações Nutritivas
                                            .nutricao.oculta
                                                p Aqui vai Informações Nutritivas do produto
                                        .modal-footer
                                            a(href="#!" class="modal-close waves-effect waves-green btn-flat ocultaFecha") Fechar 
                                    //- FIM MODAL
                li
                    .collapsible-header
                        i.material-icons whatshot
                        | Açougue
                    .collapsible-body
                        table.highlight.tableProduto.minhaTabela(class="display" style="width:100%")
                            thead
                                tr
                                th Foto
                                th Produto
                                th Preço
                                th.add ADD
                            tbody
                                tr
                                    td 
                                        img.responsive-img(src='/images/produtos/acougue/alcatra.png' width="100")
                                    td 
                                        a.link.modal-trigger(href="#modal7") Alcatra com Maminha - kg
                                    td.green-text 
                                        p.green-text R$ 23.98
                                        p.red-text R$ 24.2
                                    td.add 
                                        button.btnADDComprar.qntdBM.red.white-text -
                                        button.btnADDComprar.qntdB.green.white-text +
                                        p.qntdP.center 0
                                        input.menorPreco(value="23.98" type="hidden")
                                        input.maiorPreco(value="24.20" type="hidden")
                                        input.idProduto(value="idProduto" type="hidden")
                                        input.addValue(type="hidden")
                                    //- MODAL
                                    .modal#modal7.modalCss
                                        .modal-content
                                            .center
                                                h5 Alcatra com Maminha
                                                img.responsive-img(src='/images/produtos/acougue/alcatra.png' width="100")
                                            p.grey-text por kg
                                            br
                                            a.exibirInfo(href="#!") Exibir Informações Nutritivas
                                            .nutricao.oculta
                                                p Aqui vai Informações Nutritivas do produto
                                        .modal-footer
                                            a(href="#!" class="modal-close waves-effect waves-green btn-flat ocultaFecha") Fechar 
                                    //- FIM MODAL

    .white
        section(class="container")
            .row
                .col.s12.right-text
                    button.green.finalizar(class="waves-effect waves-light btn right" style="margin-top: 25px") 
                        i.material-icons.right shopping_cart
                        | Finalizar
                    p.green-text Carrinho: R$ 
                        span#carrinhoMenor 0.0
                    p.red-text Carrinho: R$ 
                        span#carrinhoMaior 0.0
            .center
                .preloader-wrapper.loaderSupermercados
                    .spinner-layer.spinner-red-only
                        .circle-clipper.left
                            .circle
                        .gap-patch
                            .circle
                        .circle-clipper.right
                            .circle
            .row.supermercadosFim.supermercadoAddClass
                .col.s12.m6
                    .card
                        .card-image
                            img(src='/images/supermercado/qualquer.jpg')
                            span.card-title 
                        .card-content
                            p valor: 
                                span.green-text.finalizarCompraB
                            p.green-text VOCÊ É CLIENTE VIP DESSE LOCAL
                            p(style="font-size: 11px; color: #ccc; margin-top: 10px;") *Sendo VIP, você tem o direito de pedir a compra diretamente do app
                        .card-action
                            .col.s6.center
                                a(class="waves-effect waves-light btn-small green") Entrega
                            .col.s6.center
                                a(class="waves-effect waves-light btn-small" href="/lista") Salvar
                .col.s12.m6
                    .card
                        .card-image
                            img(src='/images/supermercado/qualquer.jpg')
                            span.card-title 
                        .card-content
                            p valor: 
                                span.red-text.finalizarCompraC
                            //- p.green-text VOCÊ É CLIENTE VIP DESSE LOCAL
                            p(style="font-size: 11px; color: #ccc; margin-top: 50px;") *Sendo VIP, você tem o direito de pedir a compra diretamente do app
                        .card-action
                            .col.s6.center
                                a(class="waves-effect waves-light btn-small green") Entrega
                            .col.s6.center
                                a(class="waves-effect waves-light btn-small" href="/lista") Salvar




block rodape
    script.
        $(document).ready(function(){
            $('.collapsible').collapsible();

            /* MODAL */
            $('.modal').modal();

            $('.exibirInfo').click(function(){
                $('.nutricao').removeClass('oculta');
            });

            $('.ocultaFecha').click(function(){
                $('.nutricao').addClass('oculta');
            });

            $( ".qntdB" ).click(function() {
                var atualizaX = $(this).next().text();
                var atualizaX = atualizaX*1;
                $(this).next().text(atualizaX+1);
                var x = $(this).next().text();
                $(this).next().next().next().next().next($( "input" )).val(x);
                var menorPreco = $(this).next().next().val();
                var maiorPreco = $(this).next().next().next().val();
                var menorPreco = parseFloat(menorPreco);
                var maiorPreco = parseFloat(maiorPreco);
                var carrinhoMenor = $("#carrinhoMenor").text();
                var carrinhoMaior = $("#carrinhoMaior").text();
                var carrinhoMenor = parseFloat(carrinhoMenor);
                var carrinhoMaior = parseFloat(carrinhoMaior);
                var carrinhoMenor = parseFloat((carrinhoMenor+menorPreco).toFixed(2));
                var carrinhoMaior = parseFloat((carrinhoMaior+maiorPreco).toFixed(2));
                $("#carrinhoMenor").html(carrinhoMenor);                
                $("#carrinhoMaior").html(carrinhoMaior);
            });

            $( ".qntdBM" ).click(function() {
                var atualizaX = $(this).next().next().text();
                var atualizaX = atualizaX*1;
                if(atualizaX == 0){
                    alert("Você ainda não adicionou esse item ao seu carrinho")
                } else {
                    $(this).next().next().text(atualizaX-1);
                    var x = $(this).next().next().text();
                    $(this).next().next().next().next().next().next($( "input" )).val(x);
                    var menorPreco = $(this).next().next().next().val();
                    var maiorPreco = $(this).next().next().next().next().val();
                    var menorPreco = parseFloat(menorPreco);
                    var maiorPreco = parseFloat(maiorPreco);
                    var carrinhoMenor = $("#carrinhoMenor").text();
                    var carrinhoMaior = $("#carrinhoMaior").text();
                    var carrinhoMenor = parseFloat(carrinhoMenor);
                    var carrinhoMaior = parseFloat(carrinhoMaior);
                    var carrinhoMenor = parseFloat(carrinhoMenor.toFixed(2));
                    var carrinhoMaior = parseFloat(carrinhoMaior.toFixed(2));
                    var carrinhoMenor = parseFloat((carrinhoMenor-menorPreco).toFixed(2));
                    var carrinhoMaior = parseFloat((carrinhoMaior-maiorPreco).toFixed(2));
                    $("#carrinhoMenor").html(carrinhoMenor );                
                    $("#carrinhoMaior").html(carrinhoMaior ); 
                }
            });

            $( ".finalizar" ).click(function() {
                var economizar = $("#carrinhoMenor").text();
                if(economizar != 0){
                    $('.collapsible').collapsible('close');
                    //- alert($("#carrinhoMaior").text());
                    $(".finalizarCompraB").text("R$ "+ economizar);
                    var qualquer = $("#carrinhoMaior").text();
                    $(".finalizarCompraC").text("R$ "+ qualquer);
                    $('.supermercadoAddClass').addClass('supermercadosFim');
                    $('.loaderSupermercados').addClass('active');
                    setTimeout(function(){ 
                        $('.loaderSupermercados').removeClass('active');
                        $('.supermercadosFim').removeClass('supermercadosFim');
                    }, 1000);
                }
                
            });

            //- $("#searchProduto").on("keyup", function() {
            //-     var value = $(this).val().toLowerCase();
            //-     $("#myTable tr").filter(function() {
            //-     $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            //-     });
            //- });

            $('.minhaTabela').DataTable({
                "pageLength": 4,
                "language": {
                    "lengthMenu": "Suerp IT - Busca",
                    "search": "Buscar Produto",
                    "zeroRecords": "Nada encontrado",
                    "info": "Mostrando página _PAGE_ de _PAGES_",
                    "infoEmpty": "Nenhum registro disponível",
                    "infoFiltered": "(filtrado de _MAX_ registros no total)"
                }
            });

            
        });