extends layout

block content
    .index
        .row
            h5.green-text.left.tituloTop= title
        section(class="container")
            .row
                h4.center.green-text Parceiros
                .col.s12.m6
                    a(href="#!", target="_blank")
                        img.responsive-img(src="/images/supermercado/qualquer.jpg", alt="")
                .col.s12.m6
                    a(href="#!", target="_blank")
                        img.responsive-img(src="/images/supermercado/qualquer.jpg", alt="")
block rodape