extends layout

block content
    .index
        .row
            h5.green-text.left.tituloTop= title
        section(class="container")
            .row
                h4.green-text Sobre
                p.grey-text 
                    | Aqui vai um monte de coisa sobre o app
block rodape
			
